.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  background-color: #ffffff;
  align-items: center;
  /* border-bottom: solid 2px rgb(114, 133, 112); */
  position: fixed;
  top: 0;
  overflow: hidden;
}
.brand {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0957de;
  margin-left: 2rem;
}
.menu {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}
.menu li {
  cursor: pointer;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(17, 19, 18);
}

button {
  background-color: #0957de;
  height: 2.5rem;
  width: 6rem;
  border: none;
  border-radius: 0.3rem;
  color: #f3f5f7;
  font-size: medium;
  cursor: pointer;
  margin-left: 1rem;
  font-weight: 600;
}
@media (max-width: 900px) {
  .menu li {
    display: none;
  }
}
