/* Alert related styles */
.alert {
    padding: 1rem 2rem;
    border-radius: 5px;
    position: fixed;
    top: 2rem;
    right: 0rem;
    min-width: 200px;
  }
  
  .alert-success {
    background-color: var(--alert-success-bg-color);
    color: var(--alert-success-text-color);
  }
  
  .alert-danger {
    background-color: var(--alert-danger-bg-color);
    color: var(--alert-danger-text-color);
  }