* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


li,
a {
  text-decoration: none;
  list-style: none;
}
main {
  margin-top: 6rem;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #0858de;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1rem #fff;
}

/* body {
  overflow: hidden;
} */
